@model IEnumerable<MusicViewModel>
@{
    ViewBag.Title = "Home Page";
}
@Html.AntiForgeryToken()
<br class="visible-xs" />
<div id="newest" class="row">
    <div class="row" style="font-size: 20px; margin-right: 4px; color: lightgray">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <a style="color:lightgray" href="/Home/ListPageDate">Newest Songs</a>
            <hr />
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="row">
                @{ List<MusicViewModel> ml = new List<MusicViewModel>();
                    ml.AddRange(Model.ToList().Take(4));
                    var i = 0;
                }
                @foreach (var item in ml)
                {
                    i++;
                    <p id="i" class="hide">@i</p>
                    <div id="song@(i)" class="thumbnail col-lg-3 col-md-3 col-sm-5 col-xs-5" style="margin-right: 10px;border: 1px; width: 190px; height: 210px; background-color: rosybrown; opacity: 0.8">
                        <img src="@item.pic" style="height:100px;width:120px" />
                        <br />
                        <b>Song: @item.name</b><br />
                        <b>Singer: @item.singerName</b><br />
                        <a href="/Home/SongPage/@item.Id"><p style="color:darkslategray">More info...</p></a>
                    </div>

                }
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
</div>
<br />
<br />
<br />
<div id="viewedmost" class="row">
    <div class="row" style="font-size: 20px;margin-right:4px;color:lightgray">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <a style="color:lightgray" href="/Home/ListPageViewCount">Most Viewed Songs</a>
            <hr />
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="row">
                @{ List<MusicViewModel> ml2 = new List<MusicViewModel>();
                    ml2.AddRange(Model.ToList().Skip(4).Take(4));
                    var j = 0;
                }
                @foreach (var item in ml2)
                {
                    j++;
                    <p id="j" class="hide">@j</p>
                    <div id="song2@(j)" class="thumbnail col-lg-3 col-md-3 col-sm-5 col-xs-5" style="margin-right: 10px;border: 1px; width: 190px; height: 210px; background-color:rosybrown; opacity: 0.8">
                        <img src="@item.pic" style="height:100px;width:120px" />
                        <br />
                        <b>Song: @item.name</b><br />
                        <b>Singer: @item.singerName</b><br />
                        <a href="/Home/SongPage/@item.Id"><p style="color:darkslategray">More info...</p></a>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
</div>
<br />
<br />
<br />
@Html.Action("GenresPartial", "Home", new { area = "" })
