@model MusicViewModel
@{
    ViewBag.Title = "SongPage";
}
@Html.AntiForgeryToken()
<input type="hidden" id="musicid" value="@Model.Id" />
<div class="row thumbnail" style="border: 1px;border-style: solid;border-color: blanchedalmond;background-color: lightgray;opacity: 1">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-11">
            <img src="@Model.pic" class="img-circle" style="width:200px;height:200px;margin-top:5px" />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-11" style="margin-top:20px;color:black">
            <p>Song: @Model.name</p>
            <p>Singer: @Model.singerName</p>
            <p>Number of views: <b id="viewCount">@Model.viewCount</b></p>
            <p>Likes: <b id="likes">@Model.likes</b></p>
            @if (User.Identity.IsAuthenticated)
            {
                <p class="samerow"><span id="heart" onclick="ToggleHeart(@User.Identity.Name,@Model.Id); " title="like" class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></p>
            }
            <div class="dropdown">
                <p class="samerow"><span onclick="CopyClip(); $('.dropdown-menu').slideToggle();" title="share" class="glyphicon glyphicon-share" aria-hidden="true"></span></p>
                <div class="dropdown-menu">
                    <div class="row" style="margin:auto 5px ">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                            <a class="btn btn-sm sharelink" href="https://telegram.me/share/url?url=https://localhost:44391/Home/nav&text=<TEXT>">Telegram <span class="glyphicon glyphicon-send"></span></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                            <a class="btn btn-sm sharelink" href="whatsapp://send?text=This is WhatsApp sharing example using link" data-action="share/whatsapp/share"
                               target="https://localhost:44391/Home/nav">WhatsApp <i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        </div><br />
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                            <a href="https://twitter.com/share" class="btn btn-sm sharelink" data-url="http://c-sharp-corner.blogspot.in/2012/06/social-share-buttons-in-aspnet.html" data-text="Enter Data text here" data-size="large" data-count="none">Twitter <i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                            <a class="btn btn-sm sharelink" href="https://mail.google.com/mail/?view=cm&fs=1&to=someone@example.com&su=SUBJECT&body=BODY&bcc=someone.else@example.com">Email <span class="glyphicon glyphicon-envelope"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></div>
        <div class="col-lg-6 col-md-6 col-sm-11 col-xs-11" style="margin-top:20px;color:black">
            <audio controls="controls">
                <source src="@Model.fileLocation" type="audio/mpeg" />
            </audio>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></div>
        <div class="col-lg-4 col-md-4 col-sm-11 col-xs-11">
            <a href="@Model.youtubeAddress" style="color: brown">Watch in YouTube</a>
        </div>
        <div class="col-lg-1 col-md-1"></div>
    </div>
    <div style="border:1px;border-color:white;border-style:solid;background-color:white;margin-bottom:7px;margin-top:7px"></div>
    <div class="row text-center">
        <p class="samerow" style="opacity:1;color:black;">Lyrics</p>
        @if (User.Identity.IsAuthenticated)
        {
            <span id="star" title="star" style="width:30px;height:30px;color:royalblue" onclick="TogglrStar(@User.Identity.Name,@Model.Id)" class="glyphicon glyphicon-star-empty samerow"></span>
        }
    </div>
    <div style="border:1px;border-color:white;border-style:solid;background-color:black"></div>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <pre class="note" id="note" style="color:black;">@Model.note</pre>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
</div>

@* comments*@
<div class="row thumbnail" id="Nazarat" style="border:1px;border-style:solid;background-color:gainsboro;border-color:white">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <h5 style="color:dimgray;"><b style="margin-right:15px">Comments :@ViewBag.CommentsCount</b></h5>
        <input type="hidden" id="replied" value="0" />
        <hr />
        @if (User.Identity.IsAuthenticated)
        {
            <p style="color:darksalmon;margin-right:15px" id="replyWarning"></p>
        }
        @if (User.Identity.IsAuthenticated)
        {
            <div class="row thumbnail" style="border:1px;border-style:solid;background-color:gainsboro;border-color:white;margin: 7px auto">
                <input type="hidden" value="0" id="commentid" />
                <textarea id="comment" placeholder="Your Comment" style="width:100%"></textarea>
                <button id="sabtnazar" onclick="Commentit(@User.Identity.Name,0)" class="btn btn-success btn-sm col-lg-6 col-md-6 col-sm-6 col-xs-6 samerow">Comment</button>
                <button id="sabtvirayesh" onclick="Commentit(@User.Identity.Name,1)" class="btn btn-success btn-sm col-lg-6 col-md-6 col-sm-6 col-xs-6 samerow">Edit</button>
                <button onclick="Cancel()" class="btn btn-danger btn-sm col-lg-6 col-md-6 col-sm-6 col-xs-6 samerow">Cancel</button>
            </div>
        }
        @if (!User.Identity.IsAuthenticated)
        {
            <p style="color:lightcoral;margin-right:15px"> Please Login For Commenting.</p>
        }
        <hr />
        <div id="commentha" class="row thumbnail" style="border:1px;border-style:solid;background-color:gainsboro;border-color:white;margin: 7px auto">
            @foreach (var item in ViewBag.Comments)
            {
                <div class="row" id="@item.id">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 ">
                        <img id="img@(item.id)" style="width:80px;height:80px;" class="img-circle pull-left" src="@item.userpic" />
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8 thumbnail" style="background-color:papayawhip;margin:7px auto;">
                        <b class="samerow">username</b>: <p class="samerow" id="pname@(item.id)">@item.username</p>
                        <br />
                        <b class="samerow">text</b>: <p class="samerow" id="ptext@(item.id)" style="font-size:smaller">@item.text</p>
                        <br />
                        <p id="ptime@(item.id)" class="pull-left" style="font-size:smaller;color:gray">@item.createDateString</p>
                        <br />
                        <span onclick="Reply(@item.id)" onmousemove="Mousein(this)" onmouseout="Mouseout(this)" id="reply" style="color:gray" class="btn btn-sm btn-default pull-right">reply</span>
                    </div>
                </div>
                <div class="row" id="editdel@(item.id)">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 "></div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
                        @if (User.Identity.Name == item.userid.ToString())
                        {
                            <button id="virayesh1@(item.id)" onclick="EditComment(@item.id,@item.replied)" class="btn-sm btn btn-primary pull-left">Edit</button>
                            <button id="hazf1@(item.id)" onclick="DeleteComment(@item.id,@item.replied)" class="btn-sm btn btn-danger pull-left">Delete</button>
                        }
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                </div>
                <div class="row" id="replied@(item.id)">
                    @foreach (var item2 in ViewBag.RepliedComments)
                    {
                        if (item2.replied == item.id)
                        {
                            <div class="row" id="repliedComment@(item2.id)">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></div>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 ">
                                    <img style="width:80px;height:80px;" class="img-circle pull-left" src="@item2.userpic" />
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6 thumbnail" style="background-color:antiquewhite;margin:7px auto">
                                    <b class="samerow">username</b>: <p class="samerow">@item2.username</p><br />
                                    <b class="samerow">text</b>: <p class="samerow" id="repcomtext@(item2.id)" style="font-size:smaller">@item2.text</p>
                                    <br />
                                    <p style="font-size:smaller;color:gray">@item2.createDateString</p>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></div>
                            </div>
                            <div class="row" id="editdelete@(item2.id)">
                                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5 ">
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
                                    @if (User.Identity.Name == item2.userid.ToString())
                                    {
                                        <button id="virayesh2@(item2.id)" onclick="EditComment(@item2.id,@item2.replied)" class="btn-sm btn btn-primary pull-left">Edit</button>
                                        <button id="hazf2@(item2.id)" onclick="DeleteComment(@item2.id,@item2.replied)" class="btn-sm btn btn-danger pull-left">Delete</button>
                                    }

                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></div>
                            </div>

                        }
                    }
                </div>
            }


        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

</div>
<input class="hidden" type="text" id="identityname" value="@User.Identity.Name" />
<input class="hidden" type="text" id="urlval" value="" />
<input class="hidden" type="text" id="lang" value="@Model.languageId" />
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            if (document.getElementById("lang").value == 2) {
                document.getElementById("note").classList.add("rtl");
            }
            else {
                document.getElementById("note").classList.add("ltr");
            }
            document.getElementById("urlval").value = window.document.location;
            document.getElementById("sabtnazar").style.display = "block";
            document.getElementById("sabtvirayesh").style.display = "none";
            var identityname = document.getElementById("identityname").value;
            var musicid = document.getElementById("musicid").value;
            var token = document.getElementsByName("__RequestVerificationToken")[0].value;
            $.ajax({
                type: "post",
                dataType: 'json',
                url: "/Account/IsLiked",
                data: {
                    "identityname": identityname, "musicid": musicid, "__RequestVerificationToken": token
                },
                success: function (data) {
                    if (data == true) {
                        document.getElementById("heart").classList.remove("glyphicon-heart-empty");
                        document.getElementById("heart").classList.add("glyphicon-heart");
                    }
                    else {
                        document.getElementById("heart").classList.remove("glyphicon-heart");
                        document.getElementById("heart").classList.add("glyphicon-heart-empty");
                    }
                }
            })
            $.ajax({
                type: "post",
                dataType: 'json',
                url: "/Account/IsLikedText",
                data: {
                    "identityname": identityname, "musicid": musicid, "__RequestVerificationToken": token
                },
                success: function (data) {
                    if (data == true) {
                        document.getElementById("star").classList.remove("glyphicon-star-empty");
                        document.getElementById("star").classList.add("glyphicon-star");
                    }
                    else {
                        document.getElementById("star").classList.remove("glyphicon-star");
                        document.getElementById("star").classList.add("glyphicon-star-empty");
                    }
                }
            })
            $.ajax({
                type: "post",
                dataType: 'json',
                url: "/Home/ViewCount",
                data: {
                    "musicid": musicid, "__RequestVerificationToken": token
                },
                success: function (data) {
                    document.getElementById("viewCount").innerText = data;
                }
            })
        });
        $(document).on("click", function (event) {
            var $trigger = $(".dropdown");
            if ($trigger !== event.target && !$trigger.has(event.target).length) {
                $(".dropdown-menu").slideUp("fast");
            }
        });
        function CopyClip() {
            var textarea = document.createElement('textarea');
            textarea.textContent = document.getElementById("urlval").value;
            document.body.appendChild(textarea);
            var selection = document.getSelection();
            var range = document.createRange();
            range.selectNode(textarea);
            selection.removeAllRanges();
            selection.addRange(range);
            selection.removeAllRanges();
            document.body.removeChild(textarea);
        }
        function Mousein(it) {
            it.style.color = "black";
        }
        function Mouseout(it) {
            it.style.color = "gray";
        }
        function NotLogged() {
            alert("Plese Login.");
        }
        function ToggleHeart(userid, musicid) {
            var d = document.getElementById("heart");
            var b = d.classList.contains("glyphicon-heart-empty");
            var token = document.getElementsByName("__RequestVerificationToken")[0].value;
            if (b == true) {
                //like
                $.ajax({
                    type: "post",
                    dataType: 'json',
                    url: "/Account/LikeSong",
                    data: {
                        "userid": userid, "musicid": musicid, "__RequestVerificationToken": token
                    },
                    success: function (data) {
                        if (data == true) {
                            d.classList.remove("glyphicon-heart-empty");
                            d.classList.add("glyphicon-heart");
                            document.getElementById("likes").innerText = document.getElementById("likes").innerText * 1 + 1;
                        }
                    }
                })
            }
            else {
                //unlike
                $.ajax({
                    type: "post",
                    dataType: 'json',
                    url: "/Account/UnLikeSong",
                    data: {
                        "userid": userid, "musicid": musicid, "__RequestVerificationToken": token
                    },
                    success: function (data) {
                        if (data == true) {
                            d.classList.remove("glyphicon-heart");
                            d.classList.add("glyphicon-heart-empty");
                            document.getElementById("likes").innerText = document.getElementById("likes").innerText * 1 - 1;
                        }
                    }
                })
            }
        }
        function TogglrStar(userid, musicid) {
            var d = document.getElementById("star");
            var b = d.classList.contains("glyphicon-star-empty");
            var token = document.getElementsByName("__RequestVerificationToken")[0].value;
            if (b == true) {
                $.ajax({
                    type: "post",
                    dataType: 'json',
                    url: "/Account/LikeText",
                    data: {
                        "userid": userid, "musicid": musicid, "__RequestVerificationToken": token
                    },
                    success: function (data) {
                        if (data == true) {
                            d.classList.remove("glyphicon-star-empty");
                            d.classList.add("glyphicon-star");
                        }
                    }
                })
            }
            else {
                $.ajax({
                    type: "post",
                    dataType: 'json',
                    url: "/Account/UnLikeText",
                    data: {
                        "userid": userid, "musicid": musicid, "__RequestVerificationToken": token
                    },
                    success: function (data) {
                        if (data == true) {
                            d.classList.remove("glyphicon-star");
                            d.classList.add("glyphicon-star-empty");
                        }
                    }
                })
            }
        }
        function Commentit(id, type) {
            var replied = document.getElementById("replied").value;
            var comment = document.getElementById("comment").value;
            var token = document.getElementsByName("__RequestVerificationToken")[0].value;
            var subject = window.document.title;
            var subjectid = document.getElementById("musicid").value;
            if (comment.toString().length == 0) {
                alert("Please write your comment first.");
            }
            else {
                if (type == 0) {
                    $.ajax({
                        type: "post",
                        url: "/Account/Comment",
                        dataType: "json",
                        data: {
                            "id": id, "comment": comment, "subject": subject, "subjectid": subjectid, "replied": replied,
                            "__RequestVerificationToken": token
                        },
                        success: function (data) {
                            if (data.replied == 0) {
                                var str =
                                    '<div class="row" id="' + data.id + '">' +
                                    '<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 ">' +
                                    '<img id="img' + data.id + '" style="width:80px;height:80px;" class="img-circle pull-left" src="' + data.userpic + '" />' +
                                    '</div>' +
                                    '<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8 thumbnail" style="background-color:papayawhip;margin:7px auto;">' +
                                    '<b class="samerow">username</b>: <p class="samerow" id="pname' + data.id + '">' + data.username + '</p><br />' +
                                    '<b  class="samerow">text</b>: <p  class="samerow" id="ptext' + data.id + '" style="font-size:smaller"> ' + data.text + '</p>' +
                                    '<br />' +
                                    '<p id="ptime' + data.id + '" class="pull-left" style="font-size:smaller;color:gray">' + data.createDateString + '</p>' +
                                    '<br />' +
                                    '<span onclick="Reply(' + data.id + ')" onmousemove="Mousein(this)" onmouseout="Mouseout(this)" id="reply" style="color:gray" class="btn btn-sm btn-default pull-right">reply</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 "></div>' +
                                    '<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">' +
                                    '<button id="virayesh1' + data.id + '" onclick="EditComment(' + data.id + ',' + data.replied + ')" class="btn-sm btn btn-primary pull-left">Edit</button>' +
                                    '<button id="hazf1' + data.id + '" onclick="DeleteComment(' + data.id + ',' + data.replied + ')" class="btn-sm btn btn-danger pull-left">Delete</button>' +
                                    '</div>' +
                                    '<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>' +
                                    '</div>';
                                $("#commentha").prepend(str);
                            }
                            else {
                                var str2 =
                                    '<div class="row" id="repliedComment' + data.id + '">' +
                                    '<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></div>' +
                                    '<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 ">' +
                                    '<img style="width:80px;height:80px;" class="img-circle pull-left" src="' + data.userpic + '" />' +
                                    '</div>' +
                                    '<div class="col-lg-7 col-md-7 col-sm-6 col-xs-6 thumbnail" style="background-color:antiquewhite;margin:7px auto">' +
                                    '<b  class="samerow">username</b>: <p  class="samerow">' + data.username + '</p>' +
                                    '<br />' +
                                    '<b  class="samerow">text</b>: <p  class="samerow" id="repcomtext' + data.id + '" style="font-size:smaller">' + data.text + '</p>' +
                                    '<br />' +
                                    '<p style="font-size:smaller;color:gray">' + data.createDateString + '</p>' +
                                    '</div>' +
                                    '<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></div>' +
                                    '</div>' +
                                    '<div class="row" id="editdelete' + data.id + '">' +
                                    '<div class="col-lg-3 col-md-3 col-sm-5 col-xs-5 ">' +
                                    '</div>' +
                                    '<div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">' +
                                    '<button id="virayesh2' + data.id + '" onclick="EditComment(' + data.id + ',' + data.replied + ')" class="btn-sm btn btn-primary pull-left">Edit</button>' +
                                    '<button id="hazf2' + data.id + '" onclick="DeleteComment(' + data.id + ',' + data.replied + ')" class="btn-sm btn btn-danger pull-left">Delete</button>' +
                                    '</div>' +
                                    '<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></div>' +
                                    '</div>';
                                $("#replied" + data.replied).prepend(str2);

                            }
                            document.getElementById("comment").value = "";
                            document.getElementById("replied").value = 0;
                            document.getElementById("replyWarning").innerHTML = "";
                            document.getElementById("commentid").value = 0;
                            document.getElementById("sabtnazar").style.display = "block";
                            document.getElementById("sabtvirayesh").style.display = "none";
                        }
                    });

                }
                if (type == 1) {
                    var commentid = document.getElementById("commentid").value;
                    $.ajax({
                        type: "post",
                        dataType: 'json',
                        url: "/Account/EditComment",
                        data: {
                            "commentid": commentid, "__RequestVerificationToken": token, "comment": comment
                        },
                        success: function (data) {
                            if (data.replied == 0) {
                                document.getElementById("ptext" + commentid).innerHTML = data.text;
                            }
                            else {
                                document.getElementById("repcomtext" + commentid).innerHTML = data.text;
                            }
                            document.getElementById("commentid").value = 0;
                            document.getElementById("comment").value = "";
                            document.getElementById("sabtnazar").style.display = "block";
                            document.getElementById("sabtvirayesh").style.display = "none";
                            document.getElementById("replyWarning").innerHTML = "";
                        }
                    })
                }
            }
        }
        function Reply(id) {
            document.getElementById("replied").value = id;
            document.getElementById("comment").value = "";
            document.getElementById("Nazarat").scrollIntoView();
            document.getElementById("replyWarning").innerHTML = "Please write your reply.";
        }
        function Cancel() {
            document.getElementById("comment").value = "";
            document.getElementById("replyWarning").innerHTML = "";
            document.getElementById("replied").value = 0;
            document.getElementById("sabtnazar").style.display = "block";
            document.getElementById("sabtvirayesh").style.display = "none";
        }
        function EditComment(id, repparentid) {
            document.getElementById("replyWarning").innerHTML = "Please complete your reply first.";
            document.getElementById("sabtvirayesh").style.display = "block";
            document.getElementById("sabtnazar").style.display = "none";
            document.getElementById("replied").value = repparentid;
            document.getElementById("Nazarat").scrollIntoView();
            document.getElementById("commentid").value = id;
            if (repparentid == 0) {
                document.getElementById("comment").value = document.getElementById("ptext" + id).innerHTML;
            }
            else {
                document.getElementById("comment").value = document.getElementById("repcomtext" + id).innerHTML;
            }
        }
        function DeleteComment(id, repparentid) {
            if (confirm("Are you sure you want to delete your comment?")) {
                var token = document.getElementsByName("__RequestVerificationToken")[0].value;
                $.ajax({
                    type: "post",
                    dataType: 'json',
                    url: "/Account/DeleteComment",
                    data: {
                        "id": id, "__RequestVerificationToken": token
                    },
                    success: function (data) {
                        if (repparentid == 0) {
                            if (data == true) {
                                document.getElementById("ptext" + id).innerHTML = "Deleted Commnet.";
                                document.getElementById("pname" + id).innerHTML = "";
                            }
                            else {
                                $("#" + id).remove();
                                $("#editdel" + id).remove();
                                $("#virayesh1" + id).remove();
                                $("#hazf1" + id).remove();
                            }
                        }
                        else {
                            $("#repliedComment" + id).remove();
                            $("#editdelete" + id).remove();
                            $("#virayesh2" + id).remove();
                            $("#hazf2" + id).remove();
                        }
                    }
                })
            }
        }

    </script>

}